<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <form action="" method="get" style="margin-top:13%;margin-left:2.5%;padding-top:20px;height:400px;width:95%;background-color:#d9aa5f;border:2px transparent;border-radius:5px;; 
    ">
     <div style="display:flex;gap:10px;justify-content:center">  
    <input style="font-size: larger;width:80%;height:40px;border-radius:5px;border:2px transparent;" type="text" name="query">
    <button style="background-color:blue;border:2px transparent;border-radius:5px;margin-right:0; width:9%;height:40px;color:white;" type="submit" value="result">OK</button>  
     </br>
    </div> 
    <div style="margin-bottom:0">
        <p style="font-family:'Times New Roman', Times, serif;margin-left:5%;margin-right:5%;font-size: larger;color: black;">{{array}}</p>
        </div>
    </form> 
</body>
</html>